<h1 style = 'text-align:center'><strong>Travel with US!</strong></h1><br>
    
    <div id="search">
    <%= form_tag find_place_path, method: :get do %>
        <%= text_field_tag 'name',nil, placeholder: 'Enter the name of the place to search', size: 64 %>
        <%= submit_tag 'Search', :class=>"btn btn-danger btn-block action" %>
    <%end%>
    </div>
    
    <div class="box">
        <div align="center">
        
            <h1>Top Places</h1><br/>
            <% Place.order(:avarage => 'desc').limit(4).each do |place| %>
                <div class="boxphoto">
                    <%= icon_for place%>
                    <h3><%= place.name %></h3>
                    <p><%= place.city %></p>
                </div>
            <%end%>
        </div>
    </div>

    <div class="boxp">
        <div class="title">
            <h1>Top Users</h1>
        </div>
        <% User.order(:num_dislikes,num_likes: :desc).limit(4).each do |user| %>
                <div class="boxphoto">
                    <%= gravatar_for user%>
                    <h3><%= user.name %></h3>
                </div>
            <%end%>

    </div>


