<link rel="stylesheet" href="../../assets/static_pages/Homepage.css">

<% if ( !current_user.nil? && current_user.is?(:banned)) %>
    <h1> You was Banned, you can't acces the site </h1>
<%else%>

    <h1 style="text-align:center"><strong><font color="white">Travel with Us!!</font></strong></h1><br>
    <div id="search">
        <%= form_tag find_place_path, method: :get do %>
            <%= text_field_tag 'name',nil, placeholder: 'Find a place', size:37, :class=>"form-control", id:"ser" %>
            <br/>
            <%= submit_tag 'Search', id:"searchsub", :class=>"btn btn-danger btn-block action" %>
        <%end%>
    </div>
    <br/>
        <div class="box">
            <div align="center">
            
                <h1>Top Places</h1><br/>
                <% Place.order(:avarage => 'desc').limit(4).each do |place| %>
                    <div class="boxphoto">
                        <%= icon_for place%>
                        <h3><%= place.name %></h3>
                        <p><%= place.city %></p>
                        <p><button type="button" class="btn btn-danger" style = "padding: 8px 60px;" onclick="window.location.href='/places/<%= place.id %>'"><a></a><h5>Visita!</h5></button></p>
                    </div>
                <%end%>
            </div>
        </div>

        <div class="boxp">
            <div class="title">
                <h1>Top Users</h1>
            </div>
            <% User.order(:num_dislikes,num_likes: :desc).limit(4).each do |user| %>
                    <div class="boxphoto">
                        <%= gravatar_for user%>
                        <h3><%= user.name %></h3>
                        <p><button type="button" class="btn btn-danger" style = "padding: 8px 60px;" onclick="window.location.href='/users/<%= user.id %>'"><a></a><h5>Visita!</h5></button></p>
                    </div>
                <%end%>

        </div>
<%end%>

