<<<<<<< HEAD
<% if ( !current_user.nil? && current_user.is?(:banned)) %>
    <h1> You was Banned, you can't acces the site </h1>
<%else%>

    <h1 style = 'text-align:center'><strong>Travel with US!</strong></h1><br>
=======
<link href="../../assets/stylesheets/static_pages/Homepage.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<h1 style = 'text-align:center'><strong>Travel with US!</strong></h1><br>
    
    <div id="search">
    <%= form_tag find_place_path, method: :get do %>
        <%= text_field_tag 'name',nil, placeholder: 'Enter the name of the place to search', size: 64 %>
        <%= submit_tag 'Search', :class=>"btn btn-danger btn-block action" %>
    <%end%>
    </div>
    
    <div class="box">
        <div align="center">
>>>>>>> a97778fc5564cc93d19e898ad3dba2edfe660647
        
        <font size="3" >
        <div id="search">
        <%= form_tag find_place_path, method: :get do %>
            <%= text_field_tag 'name',nil, placeholder: 'Enter the name of the place to search', size:37 %>
            <%= submit_tag 'Search', :class=>"btn btn-danger btn-block action" %>
        <%end%>
        </div>
        </font>
        
        <div class="box">
            <div align="center">
            
                <h1>Top Places</h1><br/>
                <% Place.order(:avarage => 'desc').limit(4).each do |place| %>
                    <div class="boxphoto">
                        <%= icon_for place%>
                        <h3><%= place.name %></h3>
                        <p><%= place.city %></p>
                        <p><button type="button" class="btn btn-danger" style = "padding: 8px 60px;" onclick="window.location.href='/places/<%= place.id %>'"><a></a><h5>Visita!</h5></button></p>
                    </div>
                <%end%>
            </div>
        </div>

        <div class="boxp">
            <div class="title">
                <h1>Top Users</h1>
            </div>
            <% User.order(:num_dislikes,num_likes: :desc).limit(4).each do |user| %>
                    <div class="boxphoto">
                        <%= gravatar_for user%>
                        <h3><%= user.name %></h3>
                        <p><button type="button" class="btn btn-danger" style = "padding: 8px 60px;" onclick="window.location.href='/users/<%= user.id %>'"><a></a><h5>Visita!</h5></button></p>
                    </div>
                <%end%>

        </div>
<%end%>

