<html>
<link href="../../assets/stylesheets/login.css" rel="stylesheet">
<title>Travelling</title>
<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a style="color: black" class="navbar-brand" href="#">Traveling</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item active">
                    <a class="dropbtn" href='#'>Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="dropbtn" href='#'>MyReviews</a>
                </li>
                <li class="nav-item active">
                    <a class="dropbtn" href='#'>Help</a>
                </li>
                <li class="nav-item active">
                    <a class="dropbtn" href='#'>Report</a>
                </li>
        </div>
    </nav>
</div>
<div>
    <h1>Insert place</h1>
</div>
<form>
    <div>
        <%= label :place, :name, 'Name' %>
        <%= text_field :place, :name, required: true %>
        <%= label :place, :street, 'Street' %>
        <%= text_field :place, :street, required: true %>
        <%= label :place, :address, 'Address' %>
        <%= number_field :place, :address, min: 1, required: true %>
        <%= label :place, :city, 'City' %>
        <%= text_field :place, :city, required: true %>
        <%= label :place, :telephone_number, "Telephone Number" %>
        <%= telephone_field :place, :telephone_number %>

        <%= label :place, :opening_time, "Opening Time" %>
        <%= time_field :place, :opening_time %>
        <%= label :place, :closing_time, "Closing Time" %>
        <%= time_field :place, :closing_time %>
        <%= label :place, :description, "Description" %>
        <%= text_area :place, :description, cols: 20, rows: 40 %>
        <%= label :place, :notices, "Notices" %>
        <%= text_area :place, :notices, cols: 20, rows: 40 %>
        </div>
</form>

</html>