%h1 All Places
 
%table#places
  %thead
    %tr
      %th Index
      %th Place Name
      %th Street
      %th Address
      %th City
      %th Telephone Number
      %th Opening Time
      %th Closing Time
      %th Description
      %th Notices
  %tbody
    - @places.each_with_index do |place,index|
      %tr.row
        %td= index
        %td= place.name
        %td= place.street
        %td= place.address
        %td= place.city
        %td= place.telephone_number
        %td= place.opening_time.strftime("%H:%M")
        %td= place.closing_time.strftime("%H:%M")
        %td= place.description
        %td= place.notices
        %td= link_to "More about #{place.name}", place_path(place)


= link_to 'Add new place', new_place_path
= link_to 'My Profile', user_path(:id => current_user.id)