
%h2 Details about #{@place.name}
 
%ul#details
  %li
    Street:
    = @place.street
  %li
    Address:
    = @place.address
  %li
    City:
    = @place.city
  %li
    Telephone Number:
    = @place.telephone_number
  %li
    Opening Time:
    = @place.opening_time.strftime("%H:%M")
  %li
    Closing Time:
    = @place.closing_time.strftime("%H:%M")
 
%h3 Description:
 
%p#description= @place.description

%h3 Notices:

%p#notices= @place.notices

= link_to 'Edit info', edit_place_path(@place)
= link_to 'Delete', place_path(@place), :method => :delete, :data => {confirm: 'Are you sure?'}
= link_to 'Back to place list', places_path
