<div>
<% if current_user == @place.user %>
  <button type="button" class="btn btn-danger" onclick="window.location.href='/places/<%= @place.id %>/edit'"><a></a><h5>Modify</h5></button>
<% end %>
</div>

<div class="col-md-3 box">
    <h2>Details about <%= @place.name %> </h2>
    <ul>
      <li>Street:
        <%= @place.street  %>
      </li>
      <li>
        Address:
        <%= @place.address %>
      </li>
      <li>
        City:
        <%= @place.city %>
      </li>
      <li>
        Telephone Number:
        <% if @place.telephone_number != '' %>
          <%= @place.telephone_number %>
        <% else %>
          No telephone number for this place
        <% end %>
      </li>
      <li>
        Opening Time:
        <% if !@place.opening_time.nil? %>
          <%= @place.opening_time.strftime("%H:%M") %>
        <% else %>
          No opening time for this place
      <% end %>
      </li>
      <li>
        Closing Time:
        <% if !@place.closing_time.nil? %>
          <%= @place.closing_time.strftime("%H:%M") %>
        <% else %>
          No closing time for this place
        <% end %>
      </li>
      <li>
        Average Rating:
        <%= @place.average.round %>
      </li>
    </ul>
    <h3>Description:</h3>
    <p id="description">
    <%= @place.description %>
    </p>
    <h3>Notices:</h3>
    <p id="notices">
    <%= @place.notices %>
    </p>
    <h3>Owner Profile:</h3>
    <% if !@place.user.nil? %>
      <p id="owner">
      <p><button type="button" class="btn btn-danger" style = "padding: 6px 10px;" onclick="window.location.href='/users/<%= current_user.id %>'"><a></a><h5>Owner Profile</h5></button></p>
      </p>
    <% else %>
      <p></p>
      No owner for this place...
    <% end %>
    <h4>
    <%= link_to 'Back to place list', places_path %>
    <%= link_to 'Set as a favorite', set_favorite_path(:id => current_user.id, :place_id => @place.id) %>
    <% if ( current_user.is?(:moderator) || current_user.is?(:admin)) %>
      <%= link_to 'Delete', place_path(@place), :method => :delete, :data => {confirm: 'Are you sure?'}; %>
    <% end %>
    </h4>
</div>


<div class="col-md-9 box">
<%= icon_for @place %>
<h3>Reviews:</h3>
<% if @place.reviews.empty? %>
  <p></p>
  No reviews for this place...
<% else %>
    <% if can? :read, Review %>
    <% reviews = @place.reviews.sort_by { |r| r.dislikes.count - r.likes.count } %>
    <%  reviews.each do |r| %>
      <% u = User.find_by_id(r.user_id) %>
      <% likes = r.likes.count %>
      <% dislikes = r.dislikes.count %>
      <% pre_like = r.likes.find { |like| like.user_id == current_user.id} %>
      <% pre_dislike = r.dislikes.find { |dislike| dislike.user_id == current_user.id} %>
      <h4><b> <%= r.rating %> </b> (<i><%= u.email %></i> - <i><%= link_to 'View profile', user_path(u) %></i>) <%= r.comments %> - <%= likes %> <%= (r.likes.count) == 1 ? 'Like' : 'Likes' %>
      <% if pre_like %>
        <%= link_to "Unlike", place_review_like_path(@place, r, pre_like), :method => :delete %>
      <% else %>
        <%= link_to 'Like', place_review_likes_path(@place, r), :method => :post %>
      <% end %> <%= dislikes %> <%= (r.dislikes.count) == 1 ? 'Dislike' : 'Dislikes' %>
      <% if pre_dislike %>
        <%= link_to "Undislike", place_review_dislike_path(@place, r, pre_dislike), :method => :delete %>
      <% else %>
        <%= link_to 'Dislike', place_review_dislikes_path(@place, r), :method => :post %>
      <% end %>
      <% if u.email==current_user.email %>
        <%= link_to "Delete review", place_review_path(:id => r.id, :place_id => @place.id), :method => :delete, :data => {confirm: 'Are you sure?'} %>
      <% end %>
      <% if u.email==current_user.email %>
        <%= link_to "Edit review", edit_place_review_path(:id => r.id, :place_id => @place.id) %>
      <% end %> <br/>
    <% end %>
  <% else %>
    <b>You don't have the rights to read reviews.</b>
  <% end %>
<%= link_to 'Add review', new_place_review_path(@place) %>
</h4>
<br/><br/><br/><br/><br/><br/><br/>
<% end %>
<div align="center"><p><button type="button" class="btn btn-danger" style = "padding: 8px 40px;" onclick="window.location.href='/places/<%= @place.id %>/find_route'"><a></a><h5>Find Route</h5></button></p></div>
</div>
