%h2 Edit User
 
= form_tag user_path(@user), :method => :put do
 
  = label :user, :name, 'Name'
  = text_field :place, :name, required: true

  = label :user, :surname, 'Surname'
  = text_field :place, :name, required: true
 
  = label :user, :birth_date, 'Birth Date'
  = date_select :user, :birth_date, { start_year: 100.years.ago.year, end_year: Date.today.year, default: Date.today}, required: true

  = label :user, :nickname, "Nickname"
  = text_field :user, :nickname, required: true

  = label :user, :email, "Email"
  = text_field :user, :email, required: true

  = label :user, :bio, "Description"
  = text_area :user, :bio, cols: 30, rows: 10
 
  = submit_tag 'Save Changes'

  = link_to 'Cancel', users_path
