
%h2 Details about #{@user.name}
 
%ul#details
  %li
    Name:
    = @user.name
  %li
    Surname:
    = @user.surname
  %li
    Birth Date:
    = @user.birth_date.strftime("%F")
  %li
    Nickname:
    = @user.nickname
  %li
    Email:
    = @user.email
  %li
    Favorite Places:
    = @user.favorite_places
  %li
    Reviews:
    = @user.num_reviews
  %li
    Likes:
    = @user.num_likes
    
%h3 Bio:
 
%p#bio= @user.bio
 

    
= link_to 'Edit info', edit_user_path(@user)
= link_to 'Delete', user_path(@user), :method => :delete, :data => {confirm: 'Are you sure?'}
= link_to 'Back to User list', users_path
