<head>
	
  <link href="../../assets/stylesheets/user/user.css" rel="stylesheet">
  
</head>



<h1 style="text-align:center"><strong>User Profile</strong></h1>

<div class="divsx col-md-5 boxphoto">
  <table style="width:90%">
  <tr>
    <th><%= gravatar_for @user %></th>
    <th><h1><%= @user.nickname %></h1></th>
  </tr>
  </table> 
  <br/>
</div>

<div class="divdx"></div>

  <div class="col-md-6 box">
    <div class="box">
      <h3>
        <strong>Name:</strong>
        <%= @user.name %>
        <br/>
        <strong>Surname:</strong>
        <%= @user.surname %>
        <br/>
        <strong>Birth Date:</strong>
        <%= @user.birth_date %>
        <br/>
        <strong>Email:</strong>
        <%= @user.email %>
        <br/>
      </h3>
      <h2><strong>Favorite Place:</strong></h2>
        <h3><% if(!@user.favorite_place.nil?) %>
          <%= link_to "#{@user.favorite_place.name}", place_path(@user.favorite_place) %>
        <% else  %>
          <p></p>
          This user does not have a favorite place
        <% end %></h3>
        
      <h2><strong>Satisfaction Index:</strong></h2>
        <h3><% if @user.num_dislikes == 0 %>
          <p></p>
          This user has no dislikes
        <% else %>
          <%= @user.num_likes / @user.num_dislikes %>
        <% end %>
        </h3>
        
      <h2><strong>Bio:</strong></h2>
      <h3><p id="bio">
      <%= @user.bio %>
      </p>
      </h3>

      <h2> <strong>Roles:</strong> </h2>
      <h3> <%= @user.role_strings.join(', ') %> </h3>

      <% if(current_user.is?(:admin) && !@user.is?(:banned) &&  !@user.is?(:admin))%>
        
        <h2> <strong> Promote as: </strong> </h2>
        <%= form_tag promote_user_path(@user), method: :get do %>
          <% if !@user.is? :moderator %>
            <%= label_tag :moderator %>
            <%= radio_button_tag :role, "Moderator" %>
          <% end %>
          <%= label_tag :admin %>
          <%= radio_button_tag :role, "Admin" %>
          <%= submit_tag "Promote", name: nil %>
        <% end %>

        <% if @user.is? :moderator %>
          <h2> <strong> Demote as: </strong> </h2>
          <%= form_tag demote_user_path(@user), method: :get do %>
            <%= label_tag :moderator %>
            <%= radio_button_tag :role, "Moderator" %>
            <%= submit_tag "Demote", name: nil %>
          <% end %>
        <% end %>


      <% end %>
      
      </div>

</div>

<table style="width:50%">
  <tr>
    <th><% if current_user == @user %>
      <p><button type="button" class="btn btn-danger" style = "padding: 8px 40px;" onclick="window.location.href='/users/edit'"><a></a><h5>Edit Info</h5></button></p>
    <%end%>
    </th>

    <th>
      <p><button type="button" class="btn btn-danger" style = "padding: 8px 30px;" onclick="window.location.href='/static_pages/home'"><a></a><h5>Back to Home Page</h5></button></p>
    </th>
    
    <th><% if(current_user == @user || (current_user.is?(:admin) && !@user.is?(:admin))) %>
      <p><button type="button" class="btn btn-danger btn-primary" style="padding: 8px 30px">
        <strong><%= link_to 'Delete', user_path(@user), :method => :delete, :data => {confirm: 'Are you sure?'}, style: "color: white" %></strong>
      </button></p>
    <%end %>
    </th>

    <th> <% if (current_user.is?(:admin) && !@user.is?(:admin)) %>
      <% if !@user.is? :banned %>
        <%= link_to 'Ban', ban_user_path(@user) %>
      <% else %>
        <%= link_to 'Unban', unban_user_path(@user) %>
      <% end %>
    <% end %>
    </th>
  
  </tr>
</table>
