%h2 Details about #{@user.name}
 
%ul#details
  = gravatar_for @user
  %li
    Name:
    = @user.name
  %li
    Surname:
    = @user.surname
  %li
    Birth Date:
    = @user.birth_date
  %li
    Nickname:
    = @user.nickname
  %li
    Email:
    = @user.email
    
%h3 Bio:
 
%p#bio= @user.bio
 

    
= link_to 'Edit info', edit_user_registration_path
= link_to 'Delete', user_path(@user), :method => :delete, :data => {confirm: 'Are you sure?'}
= link_to 'Back to Place list', places_path
