
<head>
  <link rel="stylesheet" href="../../../assets/static_pages/login.css">
</head>

<div id="logreg-forms">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :class => "form-signin") do |f| %>
    <h2 class="card-header bg-dark text-white" style="text-align: center">Log In</h2><br/>
    <div>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control", placeholder: "Email" %>
          <br/>
          <%= f.password_field :password, autocomplete: "current-password", :class => "form-control", placeholder: "Password" %>
          <br/>
          <table id="table0">
            <tr>
            <td id="td0">
              <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me%>  Remember Me
              <% end %>
            </td>
            </tr>
          </table>  <br/>      
        <div class="actions">
          <%= f.submit "Log in", :class=>"btn btn-success btn-block action" %>
        </div>
        <br/>
        <div class="actions">
          <button type="button" class="btn btn-primary btn-block action" id="btn-signup" onclick="window.location.href='/users/sign_up'">Sign Up</button>
        </div>
        <% end %>
        <%= render "users/shared/links" %>
    </div>
</div>
