<head>
  <link rel="stylesheet" href="../../../assets/static_pages/signup.css">
</head>

<div id="logreg-forms">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<a href="/users/auth/facebook"><button type='button' class='btn facebook-btn social-btn' style = "padding: 8px 75px;"><i class='fa fa-facebook'></i>  &nbsp; Sign in with Facebook</button></a><br />
  <h2 class="card-header bg-dark text-white" style="text-align: center">Sign Up</h2><br/>

  <div>
    
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control", placeholder: "Email" %>

      <br/>

      <div class="field">
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", :class => "form-control", placeholder: "Password" %>
      </div><br/>

      <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control", placeholder: "Password Confirmation" %><br/>

      <%= f.text_field :name, :class => "form-control", placeholder: "Name" %>
      <br/>
      <%= f.text_field :surname, :class => "form-control", placeholder: "Surname" %>
      <br/>
      <%= f.text_field :nickname, :class => "form-control", placeholder: "Nickname" %>
      <br/>

      <div class="actions">
        <%= f.submit "Sign up", :class=>"btn btn-success btn-block" %>
      </div>

      <% end %>
    </div>

    </div>
  </div>
</div>

